<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="bindingname_CalService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/calculatorservice" binding="basicHttpBinding" bindingConfiguration="bindingname_CalService" contract="ServiceReference1.CalService" name="bindingname_CalService"/>
        </client>
    </system.serviceModel>
</configuration>
